*{
    margin:0px;
    
    
}
.banner-container{
    
    height: 100vh;
    background-image: url("../images/banner3.png");
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: end;
    
}
.banner-content{
    padding-right: 50px;
    width:450px;
}
.banner-title{
    color: white;
    font-size: 60px;
}
.banner-description{
    color: white;
    font-size: 15px;
}
.btn{
    background-color: white;
    border: none;
    border-radius: 8px;
    color: rgba(0, 0, 255, 0.839);
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 10px;
}
.my-failure{
    
    height:100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 50px;
    
}
.failure-img{
    height: 600px;
    width:500px;
     padding: 100px;

}
.my-failure-text{
    padding: 80px;  
}
.my-failure-title{
    font-size: 60px;
}
.my-failure-description{
    font-size: 20px;
    margin-bottom: 10px;
}
.my-plan-container{
    text-align: center;
    margin-top: 100px;
}
.my-plan-details{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.experience-container{
    text-align: center;
    margin-top: 100px;
}
.experience-items{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    padding: 50px;
    
}
.experience-item{
    width: 50%;
    padding: 50px;
    margin: 10px;
    text-align: justify;
    border: 2px solid gray;
    box-shadow: 2px 3px 5px 3px gray;
    
}



.positive-mindset-container{
    margin: 80px 150px;
    
    padding: 20px;
    background-image: url("../images/watch.png"),linear-gradient(to right, rgba(9, 108, 184, 0.684),rgba(0, 0, 0, 0.7));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.positive-mindset-description{  
    padding: 60px; 
}
.positive-mindset-title{
    color: white;
    font-size: 40px;
}

.footer-container{
    
    height: 50vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
.input-email{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-container-description{
    align-items:center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.text{
    margin-top:10px;
    margin-bottom: 10px;
}
.subscribe-btn{
    background-color: rgba(0, 149, 255, 0.605);
    color: white;
}