*{
    margin:0px;
    
}
.banner-container{
    width:100%;
    height: 100vh;
    background-image: url("/images/banner3.png");
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: end;
    
}
.banner-content{
    padding-right: 50px;
    width:450px;
}
.banner-title{
    color: white;
    font-size: 60px;
}
.banner-description{
    color: white;
    font-size: 15px;
}
.btn{
    background-color: white;
    border: none;
    border-radius: 8px;
    color: rgba(0, 0, 255, 0.839);
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 10px;
}
.my-failure{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 50px;
    
}
.failure-img{
    height: 600px;
    width:500px;
     padding: 100px;

}
.my-failure-text{
    padding: 80px;  
}
.my-failure-title{
    font-size: 60px;
}
.my-failure-description{
    font-size: 20px;
    margin-bottom: 10px;
}
.my-plan-container{
    text-align: center;
    margin-top: 100px;
}
.my-plan-details{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}